.app-body{
  margin-top:'2vw',
}
button{
  margin-top:2vw;
  margin-bottom:1vw;
  font-size: 1.3vw;
  padding:0.5vw 1.5vw;
  background-color: rgb(254, 254, 254);
  text-align: center;
  border-radius:5px ;
}
button:hover{
  background-color: grey;
  color:rgb(242, 241, 239);
  cursor: pointer;
}

.selectionList {
  margin-top:2vw;
}